body {
    font-family: sans-serif;
    font-size: 1.2em;
}
header {
    margin: 10px auto;
    width: 50%;
}

main {
    width: 45%;
    min-width: 400px;
    min-height: 500px;
    float: left;
    padding-left: 20px;
}
label {
    display: block;
    margin: 5px 0;
}
input, form textarea {
    display: block;
    margin: 5px 0;
    width: 350px;
}
form textarea {
    height: 70px;
}
input[type=submit] {
    width: 200px;
    height: 60px;
    margin-bottom: 50px;
    display: inline-block;
}
.right {
    float: left;
    width: 45%;
    min-width: 400px;
    position: relative;
}
pre {
    width: 100%;
    min-width: 400px;
    height: 500px;
    border: 2px solid #333;
    padding: 2px;
    background: #333;
    border-radius: 10px;
    overflow: auto;
}
pre:focus {
    outline: none;
}
a.button:link, 
a.button:visited, 
button.button {
    clear: both;
    display: inline-block;
    text-decoration: none;
    background-color: #333;
    color: #ccc;
    margin-right: 2.5em;
    padding: 5px 8px;
    border-radius: 12px;
    font-size: 1.1em;
}
a.button:hover, 
a.button:active,
button.button:hover {
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

footer {
    clear: both;
    line-height: 1.5;
    text-align: center;
    padding-top: 50px;
}
#preview {
    position: absolute;
    bottom: 80px;
    right: 10px;
    border: 2px solid black;
    background: white;
    height: auto;
}